<section>
    <div class="d-flex justify-content-center align-items-center">
    </div>
    
    <main class="mt-4 d-flex justify-content-center align-items-center margin-bottom 20px">
      <div class="row">
        <div class="border-orange col-md-8 offset-md-2 d-flex flex-column justify-content-center">
          <h1 class="orange-color d-flex justify-content-center mt-3">Parabéns! <br>Você completou o quiz.</h1>
            <h4>Sua pontuação dessa vez foi</h4>
            <h3>~variavel de pontuação~</h3>
            <a href="perfil" class="button">SAIR</a>
        </div>
      </div>
    </main>
    </section>
