<section>
    <div class="container principal">
        <div class="container">
            <div class="white-color d-flex justify-content-center">
                <h2 class="font-weight-bold sobre-jogo">ASSUNTO</h2>
            </div>
            <div class="white-color d-flex justify-content-center">
                <h3 class="sobre-jogo">Questão n / n</h3>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <p class="font-size white-color m-3">Enunciado: Astar talta amanyar oi nís. Vaxë pelentul nat ma, wen palis tanga sa. Lenca sairon lau vi, hón talan hérincë ná. Et vén pahta capië rempa. Úr lia sundo palla mettarë, rauko suhto fëa lá.
                            Ara oi fánë mitta hwarma. Na túr rámië alatúvëaúra, ve lir erya capië. Vi raita hopassë timpinen tuc, yúyo milya col lú. As harna linga lucië úrë.
                            Sundo soica quesset mí rer. Calta hlonítë er tin, us hanta pahta pendë ela, astar queni é col. Lá rata caima net, be vai aini cotumo. Ná cotë voronwë úvë. Né varnë almien mat, tin ta sáma engë saura.
                        </p>
                </div>
            </div>
        </div>

        <div class="container">            
            <div class="row">
                <div class="col-md-5 offset-md-1 mt-3 d-flex justify-content-center align-items-center">
                    <button id="btn1" class="alternative-button" type="submit">ANSWER ONE</button>
                </div>
                        
                <div class="col-md-5 mt-3 d-flex justify-content-center align-items-center">
                    <button id="btn2" class="alternative-button" type="submit">ANSWER TWO</button>
                </div>
            </div>

            <div class="row">
                <div class="col-md-5 offset-md-1 mt-3 d-flex justify-content-center align-items-center">
                    <button id="btn3" class="alternative-button" type="submit">ANSWER THREE</button>
                </div>
                            
                <div class="col-md-5 mt-3 d-flex justify-content-center align-items-center">
                    <button id="btn4" class="alternative-button" type="submit">ANSWER FOUR</button>
                </div>
            </div>
            
            <div class="col-md-12 d-flex justify-content-center align-items-center">
                <button id="btn5" class="alternative-button" aling="center" type="submit">ENVIAR</button>
            </div>
        </div> 
    </div>   
</section>

