<section>
    <div class="container principal">
        <div class="container">
                <div class="row d-flex justify-content-between">
                        <img class="d-inline-flex p-2 bd-highlight logo" src="assets/logo-devscore.png">
                        <a href="home"  class="d-flex flex-row-reverse p-2 bd-highlight botao-atualizar ancora"> Sair </a>
                    </div>

        </div>
        <div class="container">
            <div class="white-color d-flex justify-content-center">
                <h2 class="font-weight-bold sobre-jogo">{{tema}}</h2>
            </div>
            <div class="white-color d-flex justify-content-center">
                <h3 class="sobre-jogo">Questão {{pergunta.id}} / 5</h3>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <p class="font-size white-color m-3">{{pergunta.descricao}}</p>
                </div>
            </div>
        </div>
        <div class="container perguntas">
            <div class="row">
                <div class="col-md-5 offset-md-1 mt-3 d-flex justify-content-center align-items-center">
                    <button (click)="clickZero()" id="btn1" class="alternative-button" type="submit">{{pergunta.respostas[0].descricao}}</button>
                </div>

                <div class="col-md-5 mt-3 d-flex justify-content-center align-items-center">
                    <button (click)="clickUm()" id="btn2" class="alternative-button" type="submit">{{pergunta.respostas[1].descricao}}</button>
                </div>
            </div>
            <div class="row final">
                <div class="col-md-5 offset-md-1 mt-3 d-flex justify-content-center align-items-center">
                    <button (click)="clickDois()" id="btn3" class="alternative-button" type="submit">{{pergunta.respostas[2].descricao}}</button>
                </div>

                <div class="col-md-5 mt-3 d-flex justify-content-center align-items-center">
                    <button (click)="clickTres()" id="btn4" class="alternative-button" type="submit">{{pergunta.respostas[3].descricao}}</button>
                </div>
            </div>
        </div>
    </div>
</section>
