<section>
    <div class="d-flex justify-content-center align-items-center">
    </div>
  
    <main class="mt-4 d-flex justify-content-center align-items-center margin-bottom 20px">
      <div class="row">
        <div class="border-orange col-md-8 offset-md-2 d-flex flex-column justify-content-center">
                <div class="container d-flex justify-content-center">
                        <img class="imagem" src="/assets/certo.png">
                  </div>
          <h1 class="orange-color d-flex justify-content-center mt-3">Resposta Correta!</h1>
            <p class="texto">Parabéns, você está cada vez mais próximo de obter os conhecimentos necessários para iniciar na programação. Vamos continuar?</p>
            <button (click)="proximaPergunta()">PRÓXIMA QUESTAO</button>
        </div>
      </div>
    </main>
  </section>
  