
<section>
        <div class="page" class="container">    
                <!-- <div id="content"> -->
                         <div id="caixasobre" class="container"> 
                            <!-- <h2 id="tittle">SOBRE NÓS</h2> -->
                            <br>
               <div id="sidebar" class="modulos"> 
                        <p>Durante o andamento do processo de aprendizagem no programa Generation percebemos diversas diferenças de conhecimento e absorção de conhecimento entre os integrantes do projeto. Na fase de finalização do projeto nossa avaliação seria dava através do desenvolvimento de um projeto integrador que aplicaria o conhecimento adquirido até o momento em jogo e através de um sorteio surgiu nosso grupo, formado por cinco pessoas, quatro mulheres e um homem, completamente diferentes e que deram a partir de suas experiências cara a esse jogo.</p>
                        <p>Foram diversas opções até definirmos qual seria o tema de nosso projeto, até que chegamos a um ponto em que todos concordamos: a falta que fez não termos uma base de conteúdo no início da carreira de desenvolvedores.</p>
                        <p>Fizemos uma análise de perfil da nossa turma e chegamos à conclusão de quais eram os pontos que faziam uma pessoas se destacar no aprendizado e quais eram as carências até mesmo dentro no nosso grupo de não ter ou ter um conhecimento superficial sobre inglês, lógica de programação e matemática e o como ter essa base facilitaria a absorção do conteúdo.</p>
                        <p>Após esse ponto batemos o martelo e decidimos que seria através dessa "dor" que sentimos que iriamos desenvolver nosso projeto de formação e com isso ajudar outros jovens que tenham as mesmas dificuldades que nós tivemos durante o processo.</p>
                        
                </div>
               <!-- <p><img id="imagemjogo" src="assets/grupo.jpg" alt="" class="image image-full"/></p> -->     
            </div>
            <div class="row">    
                    <div class="col-12" style="width:100%">
                        <h2 id="title">QUATRO MULHERES E UM SEGREDO
                </h2></div>
                    
                </div>
        </div>
            <div class="banner" class="container" id="integrantes-larg">
                <div id="integrantes" class ="row">
                    <div class="col-md-2 d-flex flex-column align-items-center">
                        <img src="assets/anahy.jpg" width="170" height="170" alt="" />
                        <h3>Anahy<br>Sales</h3>
                        <p>27 anos, formada em Arquitetura e Urbanismo, apaixonada por conhecer novas culturas e lugares. Espiritualizada, acredita que a troca de experiências promove o desenvolvimento pessoal e consequentemente o profissional. Encontrou na tecnologia uma oportunidade de se desenvolver profissionalmente e buscar novos objetivos de vida.</p>
                    </div>
        
                    <div class="col-md-2 d-flex flex-column align-items-center">
                        <img src="assets/laura.jpg" width="170" height="170" alt="" />
                        <h3>Laura<br>Girdwood</h3>
                        <p>27 anos, formada em Arquitetura e Urbanismo, apaixonada por conhecer novas culturas e lugares. Espiritualizada, acredita que a troca de experiências promove o desenvolvimento pessoal e consequentemente o profissional. Encontrou na tecnologia uma oportunidade de se desenvolver profissionalmente e buscar novos objetivos de vida.</p>
                    </div>
        
                    <div class="col-md-2 d-flex flex-column align-items-center">
                        <img src="assets/nathalia.jpeg" width="170" height="170" alt="" />
                        <h3>Nathalia<br>Matielo</h3>
                        <p>27 anos, formada em Arquitetura e Urbanismo, apaixonada por conhecer novas culturas e lugares. Espiritualizada, acredita que a troca de experiências promove o desenvolvimento pessoal e consequentemente o profissional. Encontrou na tecnologia uma oportunidade de se desenvolver profissionalmente e buscar novos objetivos de vida.</p>
                    </div>
        
                    <div class="col-md-2 d-flex flex-column align-items-center">
                        <img src="assets/rebeca.jpeg" width="170" height="170" alt="" />
                        <h3>Rebeca<br>Lopes</h3>
                        <p>Entusiasta da tecnologia, comunicação e todo o seu potencial para transformar a vida das pessoas. Engajada na luta pela democratização da informação e do conhecimento, pela equidade de gêneros, acredito no poder da diversidade e da inclusão. Amo a conexão das artes e das ciências. Focada em back-end com Java, utilizando metodologias ágeis. </p>
                    </div>
        
                    <div class="col-md-2 d-flex flex-column align-items-center">
                        <img src="assets/gabriel.jpg" width="170" height="170" alt="" />
                        <h3>Gabriel<br>Alexandre</h3>
                        <p>27 anos, formada em Arquitetura e Urbanismo, apaixonada por conhecer novas culturas e lugares. Espiritualizada, acredita que a troca de experiências promove o desenvolvimento pessoal e consequentemente o profissional. Encontrou na tecnologia uma oportunidade de se desenvolver profissionalmente e buscar novos objetivos de vida.</p>
                    </div>
                </div>
            </div>
</section>