<section>
  <div class="d-flex justify-content-center align-items-center">
  </div>
    <main class="mt-4 d-flex justify-content-center align-items-center margin-bottom 20px">
      <div class="row">
        <div class="border-orange col-md-8 offset-md-2 d-flex flex-column justify-content-center">
            <div class="container d-flex justify-content-center"> 
              <img id="logo" src="assets/icon.png" alt="Icone de uma pessoa">
            </div>
        <div class="div-container mx-1">
          <form class="mx-5">
            <div class="form-group">
                <h1 class="orange-color d-flex justify-content-center my-4">Cadastre-se</h1>
                <label for="nomeDoUsuario">Qual seu nome?</label>
                <input type="text" class="form-control" id="nomeDoUsuario" aria-describedby="emailHelp" placeholder="Digite seu nome">
            </div>
            <div class="form-group">
              <label for="usernameDoUsuario">Como nós podemos te chamar aqui no jogo?</label>
              <input type="text" class="form-control" id="usernameDoUsuario" placeholder="Digite um username">
            </div>
            <div class="form-group">
              <label for="senhaDoUsuario">Senha</label>
              <input type="password" class="form-control" id="senhaDoUsuario" placeholder="Senha">
            </div>
            <div class="d-flex justify-content-center ">
              <button type="submit" class="button-submit">Cadastrar</button>
            </div>
            <div class="d-flex justify-content-center mt-3">
              <p class="text-muted">Já tem um cadastro?</p>
              <a href="login" class="ml-1">Faça o login.</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </main>
</section>

