<footer>
    <div id="footer" class="container-footer">
        <br>
        <p><a href="https://www.facebook.com/"><img src="assets/facebook.png" alt="simbolo facebook"></a>
            <a href="https://twitter.com/"><img src="assets/twitter.png" alt="simbolo twitter"></a>
            <a href="https://www.instagram.com/"><img src="assets/instagram.png" alt="simbolo instagram"></a>
            <a href="https://github.com/"><img src="assets/github.png" alt="simbolo github"></a></p>
        <br>
    </div>
        <div id="footer-deve">
        <p>Developed with s2 by Quatro mulheres e um segredo</p>
    </div>
</footer>
