<section>
        <div class="d-flex justify-content-center align-items-center">
        </div>
      
        <main class="mt-4 d-flex justify-content-center align-items-center margin-bottom 20px">
          <div class="row">
            <div class="border-orange col-md-8 offset-md-2 d-flex flex-column justify-content-center">
                    <div class="container d-flex justify-content-center">
                            <img class="imagem" src="/assets/erro.png">
                      </div>
              <h1 class="orange-color d-flex justify-content-center mt-3">Ops!</h1>
                <p class="texto">Parece que você não escolheu a alternativa correta. Não tem problema, você pode refazer esse módulo quantas vezes quiser, você está aqui para aprender. Vamos continuar?</p>
                <button type="submit" class="button-submit">PRÓXIMA QUESTÃO</button>
            </div>
          </div>
        </main>
      </section>
      