<section>
<header class="d-flex justify-content-center align-items-center">
    <img class="logo mt-3" src="assets/logo-devscore.png" alt="logo do jogo">
</header>

<main class="mt-4 d-flex justify-content-center align-items-center">
    <div class="row">
        <div class="border-orange col-md-8 offset-md-2">
            <h1 class="orange-color d-flex justify-content-center my-4">Login</h1>
            <div class="div-container mx-1">
                <form class="mx-5">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Insira seu username</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Insira seu username">
                        <small id="emailHelp" class="form-text text-muted">Nós nunca iremos compartilhar seus dados com ninguém.</small>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Senha</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Insira sua senha">
                    </div>
                   <div class="d-flex justify-content-center ">
                        <button type="submit" class="button-submit">Entrar</button>
                        
                   </div>
                   <div class="d-flex justify-content-center mt-3">
                        <p class="text-muted">Ainda não tem login?</p>
                        <a href="" class="ml-1">Cadastre-se</a>
                   </div>
                </form>
            </div>

        </div>
    </div>
</main>
</section>

