
<section>
  
  <div class="container geral">

  <div class="container" id="perfil">
        <div class="row d-flex justify-content-between">
            <p class="d-inline-flex p-2 bd-highlight botao-atualizar"><a class="ancora" href="#">ATUALIZAR CADASTRO</a></p>
            <p class="d-flex flex-row-reverse p-2 bd-highlight botao-atualizar sair"><a class="ancora" href="#">SAIR DO JOGO</a></p>
        </div>
        <div class="container usuario d-flex flex-column justify-content-center">
            <img class="img-usuario mt-3" src="assets/usuario.jpg" width="180" height="180">
            <h2> Olá,<a href="">usuário!</a></h2>
        </div>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 mb30">
        <div class="tutor-block">
          <div class="tutor-content">
            <h3 class="tutor-title font-weight-bold">Matemática</h3>
            <div class="container usuario d-flex flex-column justify-content-center">
                    <img src="assets/icon-matematica.jpg"/>
                  </div>
            <p>
              Teste seus conhecimentos em matemática.
            </p>
            <p class="font-weight-bold pontuacao">0<img class="porcentagem" src="assets/porcetagem.png"></p>
            <a href="" id="botao-saibamais" class="button">Jogar agora!</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 mb30">
            <div class="tutor-block">
              <div class="tutor-content">
                <h3 class="tutor-title font-weight-bold">Inglês</h3>
                <div class="container usuario d-flex flex-column justify-content-center">
                        <img src="assets/icon-ingles.jpg"/>
                      </div>
                <p>
                  Teste seus conhecimentos em inglês.
                </p>
                <p class="font-weight-bold pontuacao">0<img class="porcentagem" src="assets/porcetagem.png"></p>
                <a href="" id="botao-saibamais" class="button">Jogar agora!</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 mb30">
                <div class="tutor-block">
                  <div class="tutor-content">
                    <h3 class="tutor-title font-weight-bold logica-tittle">Lógica</h3>
                    <div class="container usuario d-flex flex-column justify-content-center">
                            <img src="assets/icon-logica.jpg"/>
                          </div>
                    <p>
                      Teste seus conhecimentos em lógica.
                    </p>
                    <p class="font-weight-bold pontuacao">0<img class="porcentagem" src="assets/porcetagem.png"></p>
                    <a href="" id="botao-saibamais" class="button">Jogar agora!</a>
                  </div>
                </div>
              </div>
      
    </div>
    
  </div>
  </div>
</section>
