/*********************************************************************************/
/* Button Style                                                                  */
/*********************************************************************************/

#banner .button
{
	display: inline-block;
	padding: 1.3em 3em;
	background: #E36922;
	border-radius: 50px;
    margin: 0 15px;
	-moz-transition: opacity 0.25s ease-in-out;
	-webkit-transition: opacity 0.25s ease-in-out;
	-o-transition: opacity 0.25s ease-in-out;
	-ms-transition: opacity 0.25s ease-in-out;
	transition: opacity 0.25s ease-in-out;
	letter-spacing: 0.1em;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 600;
    color: #FFF;
}

.button:hover
{
	background: #E36922;
}

.button-big
{
	padding: 1.6em 4em;
	font-size: 1.4em;
	font-weight: 900;
}

#banner #botao-saibamais
 {
    background: rgb(42, 42, 42);
    border-color: #FFFFFF;
    border-width: 1px;
    border-style: solid;
 }

 /*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

#banner
{
color: rgba(255,255,255,.7);
font-size: 1.5em;
font-family: 'Source Sans Pro', sans-serif;
padding: 3em 0;
background-color: rgb(42, 42, 42);
font-family: 'Roboto Mono', monospace !important;
}

#banner a
{
color: rgba(255,255,255,.9);
}

#banner p {
    font-size: 1em;
}

#banner h2
{
padding-bottom: 0.50em;
font-weight: 400;
font-size: 2em;
color: #FFF;
}

#banner strong
{
color: #FFF;
}

#banner span
{
display: block;
padding-top: 0.20em;
text-transform: uppercase;
font-size: 1.2em;
color: #A2A2A2;
}

/*********************************************************************************/
/* Image Style                                                                   */
/*********************************************************************************/

#imagemjogo
{
    width: 100%;
    position: center;
    margin-left: 3.5em;
    
}

/*body*/


.container-principal
    {
        background-color:white;
        width: 80%;
        font-family: 'Roboto Mono', monospace !important;
    }
 .byline
    {
        letter-spacing: 0.15em;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 1.1em;
        color: #6F6F6F;
    }
    p
    {
        line-height: 180%;
    }

    section {
        background-image: url("https://thumbs.dreamstime.com/b/tela-de-programa%C3%A7%C3%A3o-do-c%C3%B3digo-fonte-da-codifica%C3%A7%C3%A3o-53840089.jpg");
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
    }

#saiba-mais {
    width: 80%;
    background-color: white;
    border-radius: 10px;
}

.texto {
    margin-left: 4em;
    margin-right: 4em;
    margin-top: 2em;
    margin-bottom: 2em; 
}

.text-center {
    margin-top: 2em;
    margin-bottom: 2em;
}

#title {
    color: #ff8106;
    
}