<section>
    <div id="banner">
    <div class="container text-center">
            <h2>Aprenda os princípios básicos de programação jogando</h2>
            <p>Você que está iniciando agora na área de tecnologia, já parou para pensar nos princípios básicos para
                começar a programar? Este é o <strong>devscore</strong>, um jogo educativo desenvolvido para te ajudar nas
                primeiras barreiras que aparecem ao iniciarmos no mundo da <a href="https://pt.wikipedia.org/wiki/Programa%C3%A7%C3%A3o_de_computadores" target="_blank" rel="nofollow"><strong>PROGRAMAÇÃO.</strong></a>
            </p>
            <button [ngx-scroll-to]="'#anc'" id="botao-saibamais" class="button">Saiba mais...</button><a href="perfil" class="button">Quero jogar</a>
        
    </div>
    </div>

<section class="caixa-p d-flex flex-column align-items-center">
<div id="saiba-mais">
<div class="container">
<div class="row">
<div class="col-sm-12 text-center">
<h3 id="title" class="font-weight-bold">Bem vindo ao devscore!</h3>
<span class="byline"> EDUCATIVO QUE IRÁ TE AJUDAR A COMEÇAR CODAR.</span>
</div>

<div class="d-flex flex-column align-items-center">
<img id="imagemjogo" src="assets/codando.jpg" alt=""/>
</div>
 
<div class="texto">
<p id="anc">É um jogo educacional que tem como objetivo facilitar a introdução de pessoas no universo da programação. Surgiu da necessidade que nós tivemos quando iniciamos a nossa vida de desenvolvedores. Nosso squad foi formado no programa educacional em que participamos, chamado GENERATION. </p>
<p> O intuito do programa era a capacitação de jovens de 18 a 30 anos, com formações diversas e sem conhecimento prévio ou com conhecimento básico sobre programação se tornarem Desenvolvedor Web Fullstack Java Júnior no período de 3 meses. O programa conta com um currículo acadêmico que inclui tópicos de front-end, back-end, banco de dados e soft skils.</p>
<p>As principais dificuldades que encontramos ao começar o programa foi entender princípios básicos de matemática, lógica de programação e inglês de forma mais técnica e voltado para área.</p>
</div>
</div>

<div class="row text-center">
<div class="col-md-4">
<img src="assets/icon-matematica.jpg"/>
<h3>MATEMÁTICA</h3>
<p>Abordaremos temas como matemática básica, desde as quatro operações até funções, porcentagem, entre outros.</p>                     
</div>

<div class="col-md-4">
<img src="assets/icon-ingles.jpg">
<h3>INGLÊS</h3>
<p>Desenvolveremos um vocabulário base técnico da lingua inglesa para facilitar a fase de códigos.</p>       
</div>

<div class="col-md-4">
<img src="assets/icon-logica.jpg"/>
<h3>LÓGICA DE PROGRAMAÇÃO</h3>
<p>Aprenderemos a importância das questões de lógica para termos um código limpo e eficiente.</p>                    
</div>
</div>
</div>
</div>
</section>
</section>
