<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
    <div class="container">  
  <a class="navbar-brand" href="#">
    <img src="assets/logo-devscore.png" width="80" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Alterna navegação">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
    <div class="navbar-nav nav-pills nav-fill">
      <a routerLink="home" class="nav-item nav-link" routerLinkActive="active">Home</a>
      <a routerLink="cadastro" class="nav-item nav-link" routerLinkActive="active">Cadastro/Login</a>
      <a class="nav-item nav-link" href="#">Sobre nós</a>
      <a class="nav-item nav-link" href="#">Contato</a>
    </div>
  </div>
  </div>
</nav>
</header>
