<div id="header-wrapper">
    <div id="header" class="container">
        <div id="logo">
            <h1><span class="fa fa-bug"></span><a href="#">Logo</a></h1>
        </div>
        <div id="menu">
            <ul>
                <li><a href="#" accesskey="1" title="">Home</a></li>
                <li><a href="#" accesskey="2" title="">Cadastro/Login</a></li>
                <li class="current_page_item"><a href="#" accesskey="3" title="">Sobre nós</a></li>
                <li><a href="#" accesskey="4" title="">Contato</a></li>
            </ul>
        </div>
    </div>
</div>
